@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h3>Список покупателей</h3>

<table>
    <thead>
        <tr>
            <td>Ф.И.О.</td>
            <td>Email</td>
            <td>Address</td>
            <td>Date</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var Purchases in ViewBag.Purchases)
        {
            <tr>
                <td>@Purchases.FIO</td>
                <td>@Purchases.Email</td>
                <td>@Purchases.Address</td>
                <td>@Purchases.Date</td>
            </tr>
        }
    </tbody>
</table>
